<!DOCTYPE HTML>
<html lang="en">
<head> 
    <title>Submit Your SMILES</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
	<h1>Submit your SMILES</h1>
    <form action="#" th:action="@{/smiReq}" th:object="${smiReq}" method="post">
        <p>SMILES: <input type="text" th:field="*{smilesString}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>
